*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
     color: #333;
}

.container{
    width: 30rem;
    margin: 10rem auto;
    background-color: #f3f0ff;
    padding: 2rem 4rem;
}

.forms{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 4px;
    text-transform: uppercase;
}
input,select,option{
    padding: 7px;
    border-radius: 6px;
     margin-bottom: 1.4rem;
    background-color: #212529;
    color: #fff;
    font-size: 1rem; 
}

.btn{
    font-size: 1rem;
    color: #fff;
    border: none;
    background-color:#845ef7 ;
    padding: 7px;
    border-radius: 6px ;
    cursor: pointer;
}
h1{
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
    text-align: center;
}
p{
    text-align: center;
    margin-bottom: 1.6rem;
    color: #333;
}